/* ---------------------------------------------

Buttons

------------------------------------------------*/
/*button base*/
.button {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all .5s cubic-bezier(0, 0, 0.58, 1);
    transition: all .5s cubic-bezier(0, 0, 0.58, 1);
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.button i {
    margin-left: 1rem;
}

/* Button Sizes */
.button-lg {
    font-size: 12px;
    padding: 20px 60px;
}

.button-md {
    font-size: 11px;
    padding: 16px 48px;
}

.button-sm {
    font-size: 10px;
    padding: 12px 36px;
}

.button-xs {
    font-size: 9px;
    padding: 8px 12px;
}

/*button-black*/
.button-black {
    background: #111;
    color: #fff;
}

.button-black:hover {
    background: #2c2c2c;
    color: #fff;
}

.button-black.transparent {
    border: 2px solid #111;
    color: #111;
}

.button-black.transparent:hover {
    background: #111
    color: #fff;
}

/*button-white*/
.button-white {
    background: #fff;
    color: #000;
}

.button-white:hover {
    color: #000;
}

.button-white.transparent {
    border: 2px solid #fff;
    color: #fff;
}

.button-white.transparent:hover {
    background: #fff;
    color: #000;
}

/*button-gray*/
.button-gray {
    background: #f2f2f2;
    border: 2px solid #eaeaea;
}

.button-gray:hover {
    background: #e5e5e5;
}

.button-gray.transparent {
    border: 2px solid #eaeaea;
    color: #555;
}

/*transparent*/
.button.transparent {
    background: transparent;
}

/*primary and secondary (background set with color styles)*/
.button-primary,
.button-primary:hover {
    color: #fff;
}

.button-primary:hover {
    opacity: .9
}

.button-primary.transparent {
    border: 2px solid!important;
    background: transparent!important;
    color: #fff!important;
}

.gradient-outline-btn {
  position: relative;
  display: inline-block;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(135deg, #3c8de0, #48be3f);
  transition: background 1s ease;
}

.gradient-outline-btn:not(.transparent) {
  background: linear-gradient(-135deg, #3c8de0, #48be3f);
}

.gradient-outline-btn:not(.transparent):hover {
  background: linear-gradient(135deg, #48be3f, #3c8de0);
}


.gradient-outline-btn.transparent::before {
      content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(135deg, #3c8de0, #48be3f);
  border-radius: 10px;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  z-index: -1;
  transition: all 0.3s ease;
        background: linear-gradient(135deg, #3c8de0, #48be3f);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: background 0.3s ease;
}
/* Fill on hover */
.gradient-outline-btn.transparent:hover::before {

  background: linear-gradient(-135deg, #3c8de0, #48be3f); /* reversed direction */
}

.gradient-outline-btn:hover {
    color: #fff;
}


/* ---------------------------------------------

Info Box

------------------------------------------------*/
.info-box {
    position: relative;
    overflow: hidden;
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 1px rgb(0 0 0 / 18%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.info-box:hover {
    box-shadow: 0px 4px 4px 1px rgb(0 0 0 / 12%);
}

.info-box .img-box {
    position: relative;
    overflow: hidden;
}

.info-box img {
    width: 100%;
    transition: all .5s ease;
}

.info-card {
    margin: 0;
    width: 100%;
    background: #071325;
    padding: 3rem;

}

.info-tag {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1;
    font-family: 'lora';
    margin-bottom: 2rem;
}

.info-card h4 {
    margin-bottom: .5rem;
    color: #d2e8fd !important
}

.info-card p {
    font-size: 1.5rem;
}

/* ---------------------------------------------

Tabs

------------------------------------------------*/
nav.tabs-container {
    margin-bottom: 3rem;
    width: 100%;
}

.tab-content {
    position: relative;
    overflow: hidden;
}

.nav-tabs {
    position: relative;
    width: 100%;
    border: none;
    display: flex;
    flex-wrap: nowrap;
}

.nav-tabs .nav-item {
position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    padding: 6px;
    width: calc(20% - 75px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0 8px;


}

.nav-link.active:before {
    content: '';
    position: absolute;
    inset: 0;
    /* padding: 2px; */
    background: linear-gradient(135deg, #3c8de0, #48be3f);
    border-radius: 10px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    z-index: -1;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-tabs .nav-item img {
    width: 100%;
    opacity: .8;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-tabs a.nav-link {
    border-radius: 10px;
    overflow: hidden;
}

.nav-tabs a.nav-link:hover {
}

.nav-tabs a.nav-link.active {
    transform: scale(1.05);
    background-color: transparent!important;
}

.nav-tabs a.nav-link.active img {
    opacity: 1;
}

.nav-tabs .nav-link {
    border: none!important;
    display: flex;
    align-items: center;
}

.nav-tabs .nav-link .img-container {
    border: none!important;
}


.nav-tabs a.nav-link:hover {
    border: none!important;
}
/* ---------------------------------------------

Quote

------------------------------------------------*/
/*default quote styles*/
.quote-author {
    text-align: center;
    padding: 0 30px;
}

.quote-author img {
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 3px solid rgb(255 255 255 / 18%);
    display: block;
    padding: 4px;
}

.quote-author .test-meta {
    display: inline-block;
    vertical-align: middle;
}

.quote-author p {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 1;
    color: #fff;
    opacity: .9;
}

.quote-author span {
display: block;
    font-weight: 100;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: rgb(239 247 255 / 73%);
}

.quote-author {
  display: flex;
  align-items: center; /* vertically align items */
  gap: 1rem;           /* optional spacing between image and text */
}

.quote-author p {
  margin: 0;
}
.quote-author p span {
  display: block;      /* puts each title on a new line */
}


.reviews .owl-carousel .owl-nav {
    display: none;
}

.reviews .owl-carousel button.owl-dot {
    opacity: .3;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    height: 2px;
    width: 40px;
    margin: 0 12px;
    display: block;
    float: left;
}

.reviews .owl-carousel button.owl-dot.active {
    opacity: 1;
}

.reviews .owl-carousel .owl-dots {
    display: table;
    margin: 3rem auto 0;
}

/*alternative review styles*/
.quote-author.alt-1 {
    text-align: left;
    padding: 0px;
}

.quote-author.alt-1 img {
    display: inline-block;
    width: 70px !important;
    margin: 0 10px 0 0;
}

.quote-author.alt-1 .test-meta {
    text-align: left!important;
}

.quote-author.alt-1 blockquote {
    text-align: left!important;
}

/* ---------------------------------------------

Blogs

------------------------------------------------*/
.post-snippet {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 1px solid #eaeaea!important;
    border-top: 1px solid #eaeaea!important;
    border-left: 1px solid #eaeaea!important;
}

.post-snippet img {
    width: 100%;    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.post-snippet:hover img {
    transform: scale(1.05);
    filter: blur(2px);
}

.post-snippet .img-box {
    position: relative;
    overflow: hidden;
}

.post-category {
    font-family: 'Lora';
    font-style: italic;
}

.post-snippet .meta {
    padding: 3rem;
    background: #fff;
}

.post-snippet p {
    font-size: 15px;
    line-height: 1.7;
}

.post-snippet .post-info p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 0 0;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
}

.post-snippet .meta > a {
    margin: 20px 0 10px 0;
    display: block;
}

.post-snippet .post-info p .by {
    font-family: 'Lora';
    text-transform: lowercase;
    margin-right: 4px;
    font-style: italic;
}

.post-snippet .post-info p.post-date:before {
    content: '';
    background: #c9c9c9;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: calc(100% + 6px);
}

/*///////////////////////*/
.widget ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget li {
    clear: both;
    display: table;
    content: '';
    padding-bottom: 12px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 12px;
}

.widget li:last-child {
    border-bottom: none;
}

.widget li a { 
    line-height: 1.4!important;
    font-size: 14px;
    padding: 0;
    display: block;
    color: #292929;
    letter-spacing: 0;
    font-weight: 600;
    font-family: 'open sans';
}

.widget li .blog-thumb-container { 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-right: 10px;
    float: left;
}

.widget li .blog-thumb-container img { 
    width: 100%;
    height: auto;
}


/* ---------------------------------------------

List

------------------------------------------------*/
ul.list {
    font-size: 1.5rem;
    padding: 0;
}

ul.list li {
    padding: .5rem 0;
}

ul.list li i {
    margin-right: 1rem;
    vertical-align: middle;
}

/* ---------------------------------------------

Process

------------------------------------------------*/
.process {
    position: relative;
}
.big-number {
    display: none;
    font-size: 20rem;
    position: absolute;
    opacity: .09;
    top: 50%;
    right:  15px;
    line-height: 1;
    transform: translateY(-50%);
    font-weight: 900;
    color: #fff;
}

.process h4 {
    font-size: 2rem;
}

.process p {
    font-size: 1.75rem
}

/* ---------------------------------------------

Stats

------------------------------------------------*/
.stat-box {
    position: relative;
    margin-top: 0;
    text-align: center;
    padding: 3em 0;   
}

.stat-box .number {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
    color: #c5ffc8;
    opacity: .9;
}

.stat-box h6 {
margin-top: 10px;
    text-transform: uppercase;
    color: #c5ffc8;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ---------------------------------------------

Contact Modal

------------------------------------------------*/
.modal-content {
    padding: 70px;
}

.modal-body {
    padding: 0;
}

.modal-header {
    padding: 0 0 35px 0;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(234, 234, 234, .15);
}

.modal-title {
    line-height: 1;
}

button.close {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ff4b4b;
    opacity: 1;
    border-radius: 50%;
    font-size: 55px;
    display: block;
    color: #fff;
    text-shadow: none;
    padding: 0!important;
    height: 60px;
    width: 60px;
}

/* ---------------------------------------------

Sorter Elements

------------------------------------------------*/
.button-group {
    width: 100%;
    background: transparent;
    text-align: center;
}

.button-group .button {
    display: inline-block;
    background: transparent;
    padding: 35px 20px;
    font-size: 15px;
    color: #9E9FA2;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 1;
    border-bottom: 4px solid transparent;
}

button.button.is-checked {
    border-bottom: 4px solid;
    color: #292929;
}

/* ---------------------------------------------

Fullscreen Image Services

------------------------------------------------*/
.service-container {
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.service-box {
    height: 50vh;
    position: relative;
    z-index: 999;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.service-container .service-box h3 {
    color: #fff;
    text-align: left;
    padding: 3rem;
    z-index: 99;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.service-container .service-box p {
    color: #fff;
    text-align: left;
    padding: 3rem;
    z-index: 99;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.service-sub {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Lora';
    margin-bottom: 1rem;
    display: block;
    font-size: 22px;
    letter-spacing: 1px;
}

.service-container:hover .service-box h3,
.service-container:hover .service-box p {
    color: rgba(255, 255, 255, 0.2)!important
}

.service-container .service-box:hover h3,
.service-container .service-box:hover p {
    color: #fff!important;
}

.service-img {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.service-box:hover + .service-img {
    opacity: .1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.service-container .service-box .button {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: translate(-50% , -50%) scale(.8);
    transform: translate(-50% , -50%) scale(.8);
}

.service-container .service-box:hover .button {
    opacity: 1;
    -webkit-transform: translate(-50% , -50%) scale(1);
    transform: translate(-50% , -50%) scale(1);
}

/* ---------------------------------------------

FAQ Toggle

------------------------------------------------*/
.faq-box {
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 4px 1px rgb(0 0 0 / 18%);
}
.faq-box:before {
content: '';
    position: absolute;
    inset: 0;
    padding: 3px;
    background: linear-gradient(135deg, #3c8de0, #48be3f);
    border-radius: 10px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 1;
    transition: opacity 0.3s ease;
}
.faq {
font-size: 1.5rem!important;
    display: block;
    padding: 2rem 6rem 2rem 2rem;
    font-weight: 700;
    z-index: 1;
    position: relative;
    color: #0c6ba8;
    letter-spacing: 1px;
}

.faq i {
    font-size: 32px;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 32px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.faq img {
    height: 3rem;
    margin-right: 1.5rem;
}

.answer {
        padding: 0px 20px 10px;
}

.answer,
a.faq:hover, a.faq:active, a.faq:focus {
    background: rgb(179 225 255 / 15%); 
}

a.faq:hover, a.faq:active, a.faq:focus {
color: #0c6ba8
}
/* -----------------------------------------------------------------------------

Comment Block

----------------------------------------------------------------------------- */
.comment-block {
    padding: 2rem;
    border-radius: 5px;
    background: #fff;
}

/* -----------------------------------------------------------------------------

About Text

----------------------------------------------------------------------------- */
.about-text {
    line-height: 2;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #d2e8fd !important;
    max-width: 90%;
    margin: 0 auto;
}


/* -----------------------------------------------------------------------------

Quote

----------------------------------------------------------------------------- */

.quote {
    font-family: 'Lora';
    font-size: 3rem;
    line-height: 4rem;
    color: #d2e8fd !important;
}


#solarvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* -----------------------------------------------------------------------------

Map Pins

----------------------------------------------------------------------------- */
.map-pins {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.map-pins img {
    width: 100%;
}

.map {
    width: 100%;
}

.map img {
    width: 100%;
    z-index: 1;
}

.bg-holtsville {
    background: url(../images/locations/holtsville.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
}


.location-title {
    position: absolute;
    left: 50%;
    top: 10rem;
    z-index: 4;
    text-align: left;
    transform: translateX(-50%);
}

.location-img-holtsville {
    font-size: 8rem;
}

.location-text {
    padding: 10rem;
}

.location-text p {
    font-size: 2.25rem!important;
}

.op-title {
    z-index: 4;
    padding: 10rem 0;
}

  .op-title img {
    height: 80px;
    margin: 0px auto 40px;
    display: block;

}


h2.operation-location-title {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;

}

.location-section .section-title span {
    margin: 0 auto 1.5rem 0;
}

.location-title .section-title {
    text-align: left!important;
}

.white-gradient {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    right: 0;
    height: 10rem;
    background: #ffffff;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFFF", GradientType=0);
}

.white-gradient-bottom {
    background: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    right: 0;
    height: 5rem;
background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFFF", GradientType=0);
}

.white-gradient-bottom.big {
    height: 50%;
    z-index: 1;
}

.gray-gradient {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    right: 0;
    height: 10rem;
    background: #f9f9f9;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(249 249 249) 0%, rgb(249 249 249) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgb(249 249 249) 0%, rgb(249 249 249) 0%, rgba(255, 255, 255, 0) 100%);
}

.gray-gradient-bottom {
    background: rgb(249 249 249);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    right: 0;
    height: 5rem;
    background: -webkit-linear-gradient(0deg, rgb(249 249 249) 0%, rgb(237 253 242) 0%, rgb(249 249 249 / 0%) 100%);
    background: -moz-linear-gradient(0deg, rgb(249 249 249) 0%, rgb(237 253 242) 0%, rgb(249 249 249 / 0%) 100%);
    background: linear-gradient(0deg, rgb(249 249 249) 0%, rgb(237 253 242) 0%, rgb(249 249 249 / 0%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFFF", GradientType=0);
}

.gray-gradient-bottom.big {
    height: 100%;
    z-index: 0;
}

.flexfuel-title {
    color: #fff;
    font-size: 2.5rem;
    opacity: 1;
}

.flexfuel-title span {
    color: #dcffdd;
    font-size: 2.5rem;
    font-weight: 700 !important;
    opacity: 1;
}

.flexfuel-cta {
    padding: 3rem;
    position: relative;
    border-radius: 8px;
    width: 100%;
    background-size: 100% 100%;
    background: linear-gradient(45deg, #071325, #256939, #15325d, #000000);
    background-size: 200% 200%;
    animation: gradient-animation 5s ease infinite;
}


.flexfuel-cta:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../images/utility/hex.png);
    opacity: .8;
    pointer-events: none;
    z-index: 1;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.cta-light-bottom {
    background: url(../images/bg-imgs/bg-img-4.jpg);
    background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
}

.cta-light-bottom:after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    width: 100%;
    background: #ffffff;
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(-90deg, rgb(255 255 255 / 0%) -62%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFFF", GradientType=0);
}
}

.service-cta {
    padding: 3rem;
    position: relative;
    border-radius: 8px;
    width: 100%;
    background: #efefef;
    border: 2px solid #e4e4e4;
}

.service-cta-title {
    color: #071325;
    font-size: 4rem;
    opacity: 1;
    font-weight: 700;
}

@keyframes gradient-animation {

0% {
    background-position: 0% 25%;
}
50% {
    background-position: 50% 25%;
}
100% {
    background-position: 0% 25%;
}
}


.thruput {
    position: absolute;
    left: 50%;
    bottom: 10rem;
    z-index: 4;
    text-align: right;
    transform: translateX(-50%);
}

.thruput h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.online-effect {
width: 9px;
    height: 9px;
    background: #48bd3e;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.online-pulse {
    top: -3px;
    left: -3px;
    vertical-align: middle;
    display: inline-block;
    z-index: 10;
    background-color: transparent;
    opacity: 0.1;
    width: 15px;
    height: 15px;
    border: 1px solid #40a018;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    -webkit-animation: onlinepulse 2s linear infinite;
    -moz-animation: onlinepulse 2s linear infinite;
    position: absolute;
}

@-webkit-keyframes onlinepulse {       
    0% {-webkit-transform: scale(1); opacity: 0;}
    8% {-webkit-transform: scale(1); opacity: 0;}
    15% {-webkit-transform: scale(1.05); opacity: 1;}
    30% {-webkit-transform: scale(1.1); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1.3);}
}

@keyframes onlinepulse {       
    0% {-webkit-transform: scale(1); opacity: 0;}
    8% {-webkit-transform: scale(1); opacity: 0;}
    15% {-webkit-transform: scale(1.05); opacity: 1;}
    30% {-webkit-transform: scale(1.1); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1.3);}
}


.sustainability-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 0;
}

.sustainability-img img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 13px 14px 10px hsl(0deg 0% 0% / 20%);
}
.sustainability-title-img {
    width: 90%;
    z-index: 2;
    display: block;
    margin: 0 auto;
}

.sustainability-title {
    display: block;
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.sustainability-item .col-text {
    text-align: left;
    font-size: 1.75rem;
}

.sustainability-title-wrap {
max-width: 1200px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
}

.sustainability-title-wrap:before {
    content: '';
    height: 100%;
    right: calc(95% - 1px);
    background: #fff;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
}

.sustainability-title-wrap:after {
    content: '';
    height: 100%;
    left: calc(95% - 1px);
    background: #fff;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
}

.approachto {
    background: #fff;
    margin-bottom: 1.5rem;
    display: block;
}

.video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 1;
    opacity: .5;
}

.process-row {

    z-index: 333;
    position: relative;
    padding: 4rem 0 0 0;
    background: #071325;
background: -webkit-linear-gradient(0deg, #071325 0%, rgba(0, 0, 0, 0) 100%);
background: -moz-linear-gradient(0deg, #071325 0%, rgba(0, 0, 0, 0) 100%);
background: linear-gradient(0deg, #071325 0%, rgba(0, 0, 0, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#071325", endColorstr="#000000", GradientType=0);
}

.small-section-title {
font-weight: 400;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #c9fbca;

}

.small-section-title span {
    font-weight: 800;
    
}

.donations h5 {
font-size: 8rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 800;

}

.island-title {
    background: linear-gradient(45deg, #ffcd02, #f0621f);
}

.lia-title {
    background: linear-gradient(45deg, #007eba, #bedfff);
}

.ncpd-title {
    background: linear-gradient(45deg, #ec721b, #6395e9);
}

.warmth-title {
    background: linear-gradient(45deg, #f68322, #d13d32)
}

.energeia-title {
    background: linear-gradient(45deg, #b3b58d, #fb2862)
}

.island-title,
.ncpd-title,
.lia-title,
.energeia-title,
.warmth-title
 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.donations p {
font-size: 2.5rem;
    color: #d0e6fb;
    max-width: 63%;
    margin: 0 auto;
    display: block;
    text-align: center;
}


.ptp-desc {
    text-align: left!important;
}

.ptp-title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: #071325;
}

.panama-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.panama-icon img {
   width: 4rem;
    margin: 0 auto;
}

h5.panama-title {
    display: inline-block;
    font-size: 2.2rem;
    color: #282828;
    font-weight: 800;
    margin-left: 14px;
    background: linear-gradient(45deg, #01cebe, #02a2e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-section {
    background: url(../images/bg-imgs/waves.png);
    background-size: cover; 
}
.whiteblur {
   width: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    display: block;
    visibility: visible;
    transform: translate(-50%, -50%); 
}
.z10 {
    z-index: 10;
    position: relative;
}

.energy-graphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
}

    .energy-graphic img {
        width: 100%;
        position: relative;
        z-index: 1;
    }



.pipe-section {
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 0;
    top:0;
    position: absolute;
}

.pipe-pump {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #3c8de0, #48be3f, #3c8de0); /* Clearer blue and green gradient */
  background-size: 400% 400%;
  animation: gradient-animation 4s ease infinite; /* Faster animation */
  z-index: 1;
  align-items: center;
  overflow: hidden;
}

@keyframes gradient-animation {
  0% { 
    background-position: 0% 25%;
  }
  50% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 0% 25%;
  }
}


.sustainability-split {
  background: #000;
  color: #fff;
  padding: 5rem 0;
}

.sustainability-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.sustainability-highlight-pair {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.sustainability-highlight {
  text-align: center;
  flex: 1;
  min-width: 120px;
}

.highlight-number {
  font-size: 1.75rem;
  color: #48be3f;
  font-weight: bold;
}

.highlight-text {
  color: #ccc;
}

.sustainability-description {
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
}

.stat-card {
    background: linear-gradient(135deg, #a5cbe961, #4dc34617);
    padding: 3.5rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
}

p.stat-number {
    font-size: 5rem;
    color: #294831;
    font-weight: 700;
    font-family: 'Montserrat';
    transition: all 1s ease 0s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(135deg, #00260f, #4fcd74);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
    margin-bottom: .75rem;
}

.stat-title {
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
}


p.stat-label {
    color: #0a2912;
}

.stat-card:after {
    content: '';
    position: absolute;
    inset: 0;
    padding: 4px;
    background: linear-gradient(135deg, #3c8de0, #48be3f);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    z-index: 0;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #3c8de0, #48be3f);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: background 0.3s ease;
    border-radius: 20px;
    width: 100%;
}


.biofuel-fourgen-section {
    background: linear-gradient(180deg, #f9f9f9, #eafff1 31.00000023841858%, #eafff1 56.99999928474426%, #ffffff 100%);
}

.bio-fourgen-box {
    align-self: start;
    background:linear-gradient(333deg, #07132500, #0b271300, #14714a, #1e8354);
    border-radius: 20px;
    box-shadow: 0 .6021873017743928px .6021873017743928px -1.25px #0000002e, 0 2.288533303243457px 2.288533303243457px -2.5px #00000029, 0 10px 10px -3.75px #0000000f;
    flex: none;
    grid-column: auto / span 2;
    justify-self: start;
    overflow: hidden;
    padding: 5rem;
    position: relative;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.bio-fourgen-box .left-side {
    padding: 5rem;
}

.biofuel-fourgen-title {
    background: linear-gradient(135deg, #ddfaff, #41c57d);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.biofuel-fourgen-title.fgen {
    background: linear-gradient(135deg, #42ab65, #6a86a4);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.bio-fourgen-box h3 {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 4rem;
    color: #e3ffea;
}

.fourgen-title-text {
    color: #d2e8fd !important
}

.bio-fourgen-box p {
    color: #fff;
    font-size:2rem;
}


.bio-fourgen-box .susinfo-card ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.bio-fourgen-box .susinfo-card ul li {
align-content: flex-start;
    box-shadow: 0 .6021873017743928px .6021873017743928px -1.25px #0000002e, 0 2.288533303243457px 2.288533303243457px -2.5px #00000029, 0 10px 10px -3.75px #00000047;
    display: flex
;
    flex: none;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    overflow: hidden;
    font-weight: 800;
    border: 2px solid #ffffff26;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 12px;
    padding: 2.5rem;
    width: 100%;
}

.bio-fourgen-box .susinfo-card ul li div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.bio-fourgen-box .susinfo-card ul li div img {
    height: 1.9rem;
}

.bio-fourgen-box .susinfo-card ul li div h6 {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #91ffd7;
}

.bio-fourgen-box .susinfo-card ul li p {
    font-size: 1.7rem;
}

.feature-block {
    padding: 5rem 10rem;
    background: #ffffff0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #ffffff14;
}

.feature-block h4 {
margin-bottom: 2rem;
    color: #d2e8fd !important;
}

.feature-block h3 span {
    display: block;
    color: #46b55b;
    background: linear-gradient(135deg, #ddfaff, #41c57d);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.feature-block ul {
    font-size: 1.8rem;
    margin: 2rem 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #46b55b;
    background: linear-gradient(135deg, #ddfaff, #41c57d);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-block p {
    margin-bottom: 0;
    font-size: 1.8rem;
    color: #f1f1f1;
}


.fourgen-info hr {
    border-top: none !important;
    height: 5px;
    width: 56px;
    background: linear-gradient(135deg, #3c8de0, #48be3f);
    margin: 2rem 0;
    border-radius: 100px;
}

.fourgen-info h3 {
color: #d2e8fd !important;
}

.fourgen-info p {
color: #fff;
}

.setauket-hr {
    margin-bottom: 2rem;
    border-color: #ffffff12 !important;
}


.pdf-placeholder {
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(135deg, #a5cbe9a1, #4dc34659);
    display: flex;
    justify-content: center;align-items: center;
}

.placeholder-text {
    font-size: 5rem;
    color: #000;
}

.cta-section-2 {
    background: url(../images/bg-imgs/abstract-3.png);
    background-size: cover;
    background-position: bottom;
}

